#aboutBackground {
  background: #e2f0e8f1;
}
#aboutPage {
  text-align: center;
}
.carddeck {
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: center;
}
#card {
  margin-bottom: 30px;
}
.biocard {
  text-align: center;
  max-width: 30%;
  min-width: 300px;
  border: 20px;
}
.headshot {
  width: 100%;
}
.toolcard {
  background: #e2f0e8f1;
  text-align: center;
  border: 20px;
  max-width: 15%;
  min-width: 150px;
}
.logo {
  max-width: 200px;
  height: 150px;
}
.video {
  display: flex;
  justify-content: center;
}
