.landing {
  display: flex;
}
#overlay {
  background-color: rgba(255, 255, 255, 0.9);
  max-width: 850px;
  margin: auto;
  padding: 30px;
  text-align: center;
}
.row {
  display: flex;
  justify-content: center;
}
.modelImg {
  width: 100%;
}
.button {
  background: #b7c4bc;
  border: #78877e;
}
.button:hover {
  background: #283618;
  border: #78877e;
}
.button:active {
  background: #b7c4bc !important;
  border: #78877e !important;
}
.button:focus {
  background: #b7c4bc !important;
  border-color: #283618 !important;
}
