.page {
  padding: 0.8in 0.2in 0.8in 0.2in;
  max-width: 1200px;
  margin: auto;
  color: #808080;
}

.title {
  color: #2f4f4f;
  padding-top: 50px;
}

#home {
  background: url("../images/HomeBackground.jpg");
  height: 94.4vh;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 0.8in 0.2in 0.2in 0.2in;
}

#loading {
  height: 94.4vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.parkImg {
  width: 1200px;
  height: 800px;
  float: left;
}

.image-carousel {
  width: 100%;
  height: 500px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.image-container {
  width: 100%;
}

.image {
  height: 500px;
  width: 100%;
}

.image-caption {
  background-color: rgba(211, 211, 211, 0.6);
  border-radius: 20px;
  padding: 25px 30px 1px 30px;
  color: azure;
}

.check {
  color: #606c38;
}

.cross {
  color: #bc6c25;
}

.sortSize {
  width: 30%;
}
