/* Parks model page */

.parkCard {
  flex: 1;
}

.parkCardImg {
  width: 100%;
  height: 50%;
}

/* Parks instance page */

.relatedParksDesk {
  background-color: #606C38;
  border-radius: 50% 20% / 10% 40%;
}

.parkSlide {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 50px;
  width: 90%;
  margin: auto;
}

.parkCardContainer {
  display: flex;
  width: 30%;
  height: 400px;
  margin: 10px;
}
